@import url(/node_modules/bootstrap/scss/_navbar.scss);

@import url(/node_modules/bootstrap/scss/_variables.scss);

  
.navbar-toggler {
    border: none;
    outline: none;
  
     &:focus,
     &:active,
     &-icon:focus {
       outline: none;
       box-shadow: none;
     }
  }